*.egg-info/
*~
/.env
/build/
/dist/
/uv.lock
__pycache__/
.mise.*.local.toml
.mise.local.toml
mise.*.local.toml
mise.local.toml
**/.mise/*.local.toml
**/mise/*.local.toml
**/mise/conf.d/*.local.toml
mise.local.lock
mise.*.local.lock
