interactions:
- request:
    body: '{"userName": "user@example.com", "password": "secret"}'
    headers:
      Tenant-Id:
      - 0431f4d4-5592-49c9-bcc8-51a6965b6851
    method: POST
    uri: https://asiointi.jatekukko.fi/api/customers/Users/login
  response:
    body:
      string: '{"token": "0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef",
        "expiresAt": "2099-01-01T00:00:00Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Tenant-Id:
      - 0431f4d4-5592-49c9-bcc8-51a6965b6851
    method: GET
    uri: https://asiointi.jatekukko.fi/api/customers/Customers/contracts/00-0000000-00/1
  response:
    body:
      string: '{"allEmptyings": {"Successful": [{"emptyingDate": "2025-12-17T22:00:00Z",
        "eventType": "Successful", "description": null}], "Missed": [], "Planned":
        [{"emptyingDate": "2025-12-31T22:00:00Z", "eventType": "Planned", "description":
        null}, {"emptyingDate": "2026-01-14T22:00:00Z", "eventType": "Planned", "description":
        null}, {"emptyingDate": "2026-01-28T22:00:00Z", "eventType": "Planned", "description":
        null}, {"emptyingDate": "2026-02-11T22:00:00Z", "eventType": "Planned", "description":
        null}, {"emptyingDate": "2026-02-25T22:00:00Z", "eventType": "Planned", "description":
        null}]}, "price": {"handlingPrice": 0.0, "handlingPriceIncludingVat": 0.0,
        "handlingUnitPrice": 0.0, "handlingUnitPriceIncludingVat": 0.0, "transportPrice":
        5.0, "transportPriceIncludingVat": 6.275}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
