interactions:
- request:
    body: '{"userName": "user@example.com", "password": "secret"}'
    headers:
      Tenant-Id:
      - 0431f4d4-5592-49c9-bcc8-51a6965b6851
    method: POST
    uri: https://asiointi.jatekukko.fi/api/customers/Users/login
  response:
    body:
      string: '{"token": "0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef",
        "expiresAt": "2099-01-01T00:00:00Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Tenant-Id:
      - 0431f4d4-5592-49c9-bcc8-51a6965b6851
    method: GET
    uri: https://asiointi.jatekukko.fi/api/customers/customers/invoices
  response:
    body:
      string: '[{"invoiceNumber": 10000001, "customerNumber": "00-0000000-00", "invoiceDate":
        "2025-11-07T00:00:00", "dueDate": "2025-11-27T00:00:00", "amountOpen": 0.0,
        "amountCompleted": 20.61, "currency": "EUR", "billingName": "Meikäläinen Matti",
        "paymentStatus": "Paid", "paymentExpired": false, "paymentDate": "2025-11-20T00:00:00"},
        {"invoiceNumber": 10000002, "customerNumber": "00-0000000-00", "invoiceDate":
        "2025-12-10T00:00:00", "dueDate": "2025-12-30T00:00:00", "amountOpen": 19.62,
        "amountCompleted": 0.0, "currency": "EUR", "billingName": "Meikäläinen Matti",
        "paymentStatus": "Unpaid", "paymentExpired": false, "paymentDate": null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
