interactions:
- request:
    body:
      password: test-password
      userName: test-username
    headers:
      Tenant-Id:
      - 0431f4d4-5592-49c9-bcc8-51a6965b6851
    method: POST
    uri: https://asiointi.jatekukko.fi/api/customers/Users/login
  response:
    body:
      string: '{"token": "test-token", "expiresAt": "2026-10-10T21:20:25Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Vingo-e-services test-token
    method: GET
    uri: https://asiointi.jatekukko.fi/api/customers/Customers/invoices
  response:
    body:
      string: '[{"invoiceNumber": 1, "customerNumber": "00-0000000-00", "invoiceDate":
        "2026-02-10T00:00:00", "dueDate": "2026-03-02T00:00:00", "amountOpen": 10.01,
        "amountCompleted": 0.0, "currency": "EUR", "billingName": "Test Name", "paymentStatus":
        "Unpaid", "paymentExpired": true, "paymentDate": null}, {"invoiceNumber":
        2, "customerNumber": "00-0000000-00", "invoiceDate": "2026-07-08T00:00:00",
        "dueDate": "2026-07-28T00:00:00", "amountOpen": 10.02, "amountCompleted":
        0.0, "currency": "EUR", "billingName": "Test Name", "paymentStatus": "Unpaid",
        "paymentExpired": true, "paymentDate": null}, {"invoiceNumber": 3, "customerNumber":
        "00-0000000-00", "invoiceDate": "2026-10-07T00:00:00", "dueDate": "2026-10-27T00:00:00",
        "amountOpen": 10.03, "amountCompleted": 0.0, "currency": "EUR", "billingName":
        "Test Name", "paymentStatus": "Unpaid", "paymentExpired": false, "paymentDate":
        null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
