name: Test

on:
  pull_request:
  push:
    branches:
      - main

permissions: {}

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
          - "3.15.0-alpha - 3.15"
          - "pypy-3.10"
          - "pypy-3.11"
    permissions:
      contents: read
    steps:
      - uses: scop/common/force-color@main
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      - uses: wntrblm/nox@0eee2e45758dbd06d48ebb23476439f0f00e5cbd # 2025.11.12
        with:
          python-versions: ${{ matrix.python-version }}
      - name: Run tests
        run: |
          v="${{ matrix.python-version }}"
          v=${v##* }  # "3.X.0-alpha - 3.X" -> "3.X"
          v=${v//-}   # "pypy-X.Y" -> "pypyX.Y"
          nox --python "$v"
        env:
          NOX_DEFAULT_VENV_BACKEND: uv
